<div class="container">
  <div class="row align-items-center vh-70">
    <div class="col-6 mx-auto">
      <div class="card shadow border">
        <P class="title">Share a Youtube movie</P>
        <div class="card-body d-flex flex-column">
          <%= form_tag shares_path, method: :post do %>
            <div class="row">
              <div class="mb-2 gx-3 d-flex">
                <%= label_tag :url do %>
                  <p class="fs-3">Youtube URL: </p>
                <% end %>
                <%= text_field_tag :url, nil, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <%= button_tag "Share", type: "submit", class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>