label {
  margin-left: 30px;
  vertical-align: -webkit-baseline-middle;
}

#url {
  border: 1px solid black;
  height: 35px;
  width: 50%;
  margin-left: 10px;
}

.vh-70 {
  height: 70vh !important;
}

.title {
  font-size: 17px;
  position: absolute;
  top: -20px;
  left: 20px;
  background-color: #fff;
}
